.footer{
    height: 190px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo{
        margin-bottom: 20px;
    }
    
    .text-footer{
        color: $color-white;
    }
}

